# Individual Project 2

**Author:** Kerry Effinger  
**Version:** 1.0  
**Semester:** Spring 2021  
**Summary:**

In [18]:
import csv
import numpy as np
from prettytable import PrettyTable
import pandas as pd

1. Reads the file called "weather_2012.csv" that is in the same folder as this notebook.

In [134]:
df = pd.read_csv('weather_2012.csv')

2. The pandas functions head and tail will give the first five and last five rows of data respectively. The function sample will give a random sample of the data of the size specified in parentheses

In [77]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [20]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
6763,2012-10-08 19:00:00,9.7,1.5,57,15,25.0,102.03,Mainly Clear
1014,2012-02-12 06:00:00,-16.7,-23.3,57,15,25.0,100.60,Snow
8279,2012-12-10 23:00:00,1.2,-2.1,79,20,25.0,99.78,Mostly Cloudy
7277,2012-10-30 05:00:00,13.7,10.5,81,37,25.0,99.32,Mainly Clear
6622,2012-10-02 22:00:00,14.2,12.9,92,4,25.0,101.28,Clear

3. This fucntion displays all the column names in a list. I also created a new variable called orig_columns so I can keep a copy of the original column names.

In [136]:
orig_columns=list(df.columns)
print(orig_columns)

['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)', 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

4. the pandas function "rename" allows you to rename each column by typing the original name, then a colon, then the new name. By saying 'inplace=True,' the function replaces the original dataset with the new column names.

In [137]:
df.rename(columns={
  'Date/Time':'date_time',
  'Temp (C)':'temp_c',
  'Dew Point Temp (C)':'dew_point',
  'Rel Hum (%)':'relative_humidity',
  'Wind Spd (km/h)':'wind_speed',
  'Visibility (km)':'visibility',
  'Stn Press (kPa)':'pressure',
  'Weather':'weather'  
}, inplace= True)

In [138]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

5. Pandas allows you to easily get some summary statistics with the built-in function "describe"

In [139]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

6. The next cell creates a new column with the name "temp_f." On the right side of the equals sign, there is a formula that converts the temperature in Celsius to Fahrenheit and puts the converted temp in the new column.

In [140]:
df['temp_f']=(df.temp_c * 9/5) + 32

7. By specifying the pandas DataFrame and typin gout each column name, you can determine the order of columns in your DataFrame. Here, I arranged teh columns so date_time is first, followed by temp_f then temp_c and the rest on the order they were in.

In [160]:
df = pd.DataFrame(df, columns = ['date_time',
        'temp_f',
        'temp_c',
         'dew_point',
         'relative_humidity',
         'wind_speed',
         'visibility',
         'pressure',
         'weather'
        ])

In [196]:
#df

8. Pandas has a built-in function "dtypes" that will return each column along with the data type for each.

In [162]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

9. The function in Pandas called "to_datetime()" converts a column that includes dates (which was formerly 'object' type) to the datetime format.

In [163]:
df.date_time = pd.to_datetime(df.date_time)

In [164]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

10. I grouped the dates by month and created a new DataFrame with the average temperature of each month in Fahrenheit.

In [394]:
monthly_avg = df.temp_f.groupby(df['date_time'].dt.month).mean()
monthly_avg = pd.DataFrame(new_df)

AttributeError: 'DataFrame' object has no attribute 'temp_f'

11. I created a new column in the dataframe I just created. Using the indexes from above, I made a new column called "Month."

In [393]:
monthly_avg['Month'] = monthly_avg.index

In [396]:
#monthly_avg

12. Here I rearranged the columns (just switching Month and temp_f) like I did in part 7 above.

In [194]:
monthly_avg = pd.DataFrame(monthly_avg, columns = ['Month','temp_f'])

In [397]:
#monthly_avg

13. The next code is to rename the index column. Since we want it to have no name appear above the column, I set the name of the index column as empty quotes.

In [372]:
monthly_avg.index.names = [' ']

In [377]:
monthly_avg

    Month     temp_f

1       1  18.731290
2       2  24.395000
3       3  37.618226
4       4  44.616750
5       5  61.227984
6       6  68.241250
7       7  73.022097
8       8  72.102742
9       9  61.672000
10     10  51.718952
11     11  33.676500
12     12  26.048629

14. I created a dictionary with each number and the corresponding month as the values. The function get_month returns the month name. I then mapped the months to the column in the dataframe.

In [398]:
monthnames = {'1':'January',
             '2':'February',
             '3':'March',
             '4':'April',
             '5':'May',
             '6':'June',
             '7':'July',
             '8':'August',
             '9':'September',
             '10':'October',
             '11':'November',
             '12':'December'}

def get_month(number):
    if number in monthnames:
        return monthnames[number]

In [399]:
monthly_avg.Month = map(lambda month: get_month(month), monthly_avg['Month'])
#monthly_avg.Month = map(get_month, monthly_avg['Month']
#monthly_avg['Month']=monthly_avg['Month'].apply(get_month)

In [401]:
#monthly_avg

15. Similar to getting the average temperature by month, you can also get the average temperature for each hour

In [221]:
hourly_avg = df.temp_f.groupby(df['date_time'].dt.hour).mean()

16. To rename the index for the hourly average series, you can call the index name and set it equal to your new name, 'Hour.'

In [223]:
hourly_avg.index.names = ['Hour']

In [224]:
hourly_avg

Hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

17. I created a dictionary with every corresponding time to the numbers 0-23. Then I created a function that will return the correct time. I then mapped the new times to the column in the dataframe.

In [390]:
times = {'0':'12:00AM',
         '1':'1:00 AM',
         '2':'2:00 AM',
         '3':'3:00 AM',
         '4':'4:00 AM',
         '5':'5:00 AM',
         '6':'6:00 AM',
         '7':'7:00 AM',
         '8':'8:00 AM',
         '9':'9:00 AM',
         '10':'10:00 AM',
         '11':'11:00 AM',
         '12':'12:00 PM',
        '13':'1:00 PM',
        '14':'2:00 PM',
        '15':'3:00 PM',
        '16':'4:00 PM',
        '17':'5:00 PM',
        '18':'6:00 PM',
        '19':'7:00 PM',
        '20':'8:00 PM',
        '21':'9:00 PM',
        '22':'10:00 PM',
        '23':'11:00 PM'}

def get_time(number):
    if number in times:
        return times[number]

In [402]:
hourly_avg = map(lambda time: get_time(time), hourly_avg)

In [404]:
#hourly_avg

18. You can use pandas's function groupby to group each weather pattern together and then the count() function to get the count for each weather type. Note: if there are multiple weather types for one day, this function will not separate them

In [405]:
weather = df['weather'].groupby(df['weather']).count()
print(weather)

KeyError: 'weather'

19. you can separate the items that have multiple weather pattern in them using teh string function, split(). Then, you can make a set with these items so it only shows the unique values, and then convert it back to a list.

In [406]:
weatherlist = list(weather.index)

for item in weatherlist:
    weatherlist2 = weatherlist2 + item.split(',')

weathers = set(weatherlist2)
#print(weathers)

weatherlist3 = list(weathers)
print(weatherlist3)

['Drizzle', 'Cloudy', 'Moderate Snow', 'Heavy Rain Showers', 'Freezing Fog', 'Freezing Drizzle', 'Clear', 'Snow Grains', 'Freezing Rain', 'Rain Showers', 'Snow', 'Rain', 'Mostly Cloudy', 'Blowing Snow', 'Snow Pellets', 'Haze', 'Moderate Rain Showers', 'Moderate Rain', 'Snow Showers', 'Thunderstorms', 'Fog', 'Mainly Clear', 'Ice Pellets']

20. The sorted function automatically sorts strings in alphabetical order

In [304]:
sorted(weatherlist3)

['Blowing Snow',
 'Clear',
 'Cloudy',
 'Drizzle',
 'Fog',
 'Freezing Drizzle',
 'Freezing Fog',
 'Freezing Rain',
 'Haze',
 'Heavy Rain Showers',
 'Ice Pellets',
 'Mainly Clear',
 'Moderate Rain',
 'Moderate Rain Showers',
 'Moderate Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Snow',
 'Snow Grains',
 'Snow Pellets',
 'Snow Showers',
 'Thunderstorms']

21. I inserted the new temp_f column into the list of the original columns, then changed the dataframe to once again have the original column names

In [407]:
orig_columns.insert(1, 'Temp (F)')

ValueError: Length mismatch: Expected axis has 9 elements, new values have 10 elements

In [408]:
df.columns = orig_columns

ValueError: Length mismatch: Expected axis has 9 elements, new values have 10 elements

In [330]:
df.columns

Index(['Date/Time', 'Temp (F)', 'Temp (C)', 'Dew Point Temp (C)',
       'Rel Hum (%)', 'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)',
       'Weather'],
      dtype='object')

22. You can easily create a csv file to save your pandas dataframe work with the function to_csv. The index must equal False so that it does not include the indices in the csv file. It includes the headers unless otherwise stated.

In [331]:
df.to_csv('weather_2012_new.csv',index=False)

23.

In [410]:
monthly_avg.to_csv('monthly_avg.csv',index = False)

AttributeError: 'map' object has no attribute 'to_csv'

In [411]:
hourly_avg.to_csv('hourly_avg.csv', index = False)

AttributeError: 'map' object has no attribute 'to_csv'